@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Work+Sans:wght@300&display=swap');

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.7rem;
}

nav {
    background-color: #D2DAD9;
    font-family: Work Sans, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #0B84A8;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}

nav ul.hide {
    display: none;
}

.weather-summary {
    background: radial-gradient(#eee, #4567aa);
    padding: 1rem;
    opacity: 0.9;
    height: auto;
}

.text {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
    padding: 0.5rem;
}

html {
    background-color: white;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background-color: #EBF6F5;
    padding: 5px 25px;
}

h1,
h2 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 1.8em;
}

h3 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 1.4em;
    margin-bottom: 5px;
}

header {
    display: flex;
    padding: 0.5em;
    text-align: center;
    color: rgb(0, 6, 8);
    background-color: rgb(11, 132, 168);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

footer {
    padding: 1em;
    color: rgb(0, 6, 8);
    background-color: #0b84a8;
    border-radius: 30px;
    text-align: center;
    bottom: 0;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2em;
}

nav {
    border-radius: 30px;
}

img {
    max-width: 100%;
}

.logo-image {
    padding: 0.5em;
    
}

.motto {
    font-size: 1.5em;
    order: 3;
}

ul {
    list-style-type: none;
}


.active,
.btn:hover {
    background-color: #0b84a8;
    color: white;
}

.contact-info {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
}

.social {
    padding-top: 20px;
}

.map {
    padding-top: 1em;
    height: 100%;
}

.flex-col {
    background-color: #D2DAD9;
    width: 100%;
    text-align: center;
}

.col-head {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #333;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1em;
    font-family: 'Mochiy Pop One', sans-serif;
}

img.sun {
    border-radius: 100px;
    padding: 0.25rem;
    width: 64px;
    height: auto;
    opacity: 0.9;
}

.data {
    display: block;
    padding: 0 5px 5px;
    font-size: 1em;
    text-align: center;
}

#banner {
    background-color: rgb(241, 241, 154);
    padding: 3px;
    text-align: center;
    font-weight: 600;
    border-radius: 30px;
}

main figure.total-image {
    width: 100%;
    margin: 0 0 0;

}
 main figure.total-image img {
     width: 100%;
 }

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding: 20px;
}

figure img {
    width: 100%;
    height: 80%;
}

figure {
    margin: 10px 10px;
    font-family: 'Work Sans', sans-serif;
}





/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}