
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
  
header {
    text-align: center;
    background-color: rgb(4, 119, 119);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 1%;
    max-width: 45em;
    display: flex;
    flex-flow: column;
}
header img {
    width: 50%;
    height: auto;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: san-serif;
    color: rgb(174, 206, 216);
    background-color: rgb(107, 95, 90);
    height: 100%;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

h1 {
   font-size: 1.5em;
   margin: 0.15em;
}
h2 {
    font-size: 1em;
    border-bottom: 1px solid #9999;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size:  1.6rem;
}

nav {
    background-color: rgb(219, 199, 171);
    font-family: Work Sans, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding:  .8rem 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.2); color: rgb(197, 214, 240);
}

nav ul li a:hover {
    background-color: rgba(0,0,0, 0.4); color: rgb(197, 214, 240);
}

nav ul.hide {
    display: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
main{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.9em;
}
footer{
    text-align: center;
    background-color: rgb(4, 119, 119);
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    padding: 1em;
    max-width: 45em;
}

