
@media only screen and (min-width: 35rem) {
    html {
        background-color: rgb(189, 185, 175);
    }
    
    body {
        max-width: 960px;
        margin: 0 auto;
        background-color: #a6d5d8;
        padding: 5px 25px;
    }
    
    h1,
    h2,
    h3 {
        font-family: sans-serif;
        font-size: 2em;
    }
    
    
    header {
        padding: 0.5em;
        text-align: center;
        color: rgb(0, 6, 8);
        background-color: rgb(4, 119, 119);
        border-radius: 30px;
    }
    
    footer {
        padding: 1em;
        color: rgb(0, 6, 8);
        background-color: rgb(4, 119, 119);
        border-radius: 30px;
        text-align: center;
        bottom: 0;
    }
    
    p {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.5em;
    }
    
    nav {
        border-radius: 30px;
    }
    
    header {
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    img {
        max-width: 100%;
    }
    .site-name {
        order: 2;
    }
    .motto {
        font-size: 1.5em;
        order: 3;
    }
    
    main {
        display: grid;
        grid-template-rows: auto;
    }
    .total-image img{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
    }
     ul {
        list-style-type: none;
     }
        
    } 