html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.heading h1 {
    font-size: small;
}
.heading h2 {
    font-size: smaller;
}
header {
    text-align: center;
    color: black;
    background-color: #A9BA88;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
nav {
    height: 80px;
    max-width: 100%;
    text-align: center;
}
nav ul{
    float: center;
    margin: 15px;
}
nav ul li {
    display: inline-block;
    line-height: 25px;
    margin: 0 5px;
}
nav ul li a {
    color: black;
    font-size: 10px;
    text-transform: uppercase;
    padding: 5px;
}
a.active, a:hover { 
    background-color: #6D6F73;
    transition: .5s;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: san-serif;
    color: black;
    background-color: #F6F0E7;
    height: 100%;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
}
.contact {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    text-align: center;
}
footer {
    text-align: center;
    background-color: #A9BA88;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1em;
    bottom: 0;
}





/*home page*/
.title {
    background-color: #A9BA88;
    text-align: center;
}
.islandphotos {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.threeDay {
    font-family: var(--paragraph-font);
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    background-color: rgb(191, 234, 245);
    max-width: 60%;
    opacity: 6em;
}
.threeDay::after{
    content: "\A\A";
    white-space: pre;
}
.threeDay section {
    border: 1px solid var(--accent2-color);
    background-color: var(--secondary-color);
}
#forecastGrid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
}
#forecastGrid h4 {
    background-color: var(--background-color);
    padding: .5em;
    margin: 0;
}
#forecastGrid p {
    padding: .5em;
}
.colweight {
    color: black;
    font-weight: bold;
}
.colweight::after{
    content: "\A";
    white-space: pre;
}
.right-align-box {
    padding: 1em;
    background-color: var(--secondary-color);
    border: 2px solid var(--accent2-color);
    text-align: center;
}
.left-align-box {
    padding: 1em;
    background-color: var(--secondary-color);
    border: 2px solid var(--accent2-color);
    text-align: center;
}
.threeDay::before {
    content: "\A\A";
    white-space: pre;
   
}
.right-align-box span {
    font-family: var(--paragraph-font);
}
main div.moreinfo {
    text-align: center;
    padding: 20px 20px;
    background-color: #A9BA88;
}
.btn {
    border: none;
    background-color: #212121;
    color: #f6f6f6;
    border-radius: 1.5rem;
    width: auto;
    padding: 5px 15px;
    max-width: 20rem;
}


/*Rent page*/
table {
    font-family: var(--paragraph-font);
    text-align: center;
    margin: 0 auto;
    border: 3px solid black;
    border-collapse: collapse;
}
caption {
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 2em;
    padding-bottom: .25em;
}
th, td {
    border: 1px solid black;
    padding: .25em;
}

tr:nth-child(1) {
    background-color: #A9BA88;
    color: white;
}
tr:nth-child(2), tr:nth-child(3), tr:nth-child(6), tr:nth-child(7), tr:nth-child(10), tr:nth-child(11) {
    background-color: #6D6F73;
    color: white;
}
tr:nth-child(4), tr:nth-child(5), tr:nth-child(8), tr:nth-child(9), tr:nth-child(12), tr:nth-child(13) {
    background-color: #D9C6BF;
}
tr.display {
    border-top-style: hidden;
}
.rental-melon {
    background-color: var(--secondary-color);
    border: 3px solid var(--accent2-color);
    padding: 1em;
}
div.rental-melon {
    max-width: 880px;
}
.rental {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
    max-width: 60%;
    text-align: right;
}
.more-rental-info {
    background-color:#A9BA88;
    color: #f6f6f6;
    padding: 20px;
    margin: 20px;
}



/*reservation*/
.border {
    width: 100px;
    height: 10px;
    background: #A9BA88;
    margin: 40px auto;
  }
  
  .reservationsinfo {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
    border: 0;
    background: #6D6F73;
    padding: 20px 40px;
    outline: none;
    color: white;
    transition: 0.5s;
  }
  .text:focus {
    box-shadow: 0 0 10px 4px #34495e;
  }
  
  textarea.text {
    resize: none;
    height: 120px;
  }
  
  .submitbtn {
    float: right;
    border: 0;
    background: #A9BA88;
    color: white;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .submitSbtn:hover {
    background: #A9BA88;
  }







/*contact page*/
.border {
    width: 100px;
    height: 10px;
    background: #A9BA88;
    margin: 40px auto;
  }
  .contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
   
  }
  .contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
    border: 0;
    background: #6D6F73;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
  }
  .contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
  }
  
  textarea.contact-form-text {
    resize: none;
    height: 120px;
  }
  
  .contact-form-btn {
    float: right;
    border: 0;
    background: #A9BA88;
    color: white;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover {
    background: #A9BA88;
  }
.maps {
    border: 3px solid var(--accent2-color);
    max-width: 647px;
    margin: 0 auto;
    padding: 1em;
    background-color: var(--secondary-color);;
}
.first, .second{
    padding: 20px;
}
.first {
    background-color: #A9BA88;
}
.second {
    background-color: #D9C6BF;
}

p.first, p.second {
    text-align: right;
    font: 60px;
}
.whatBox {
    text-align: center;
}
