@media only screen and (min-width: 80em) {
    .headings h1 {
        font-size: large;
    }

    .motto {
        font-size: medium;
    }

    nav {
        height: 80px;
        max-width: 100%;
        text-align: center;
    }
    nav ul{
        float: center;
        margin: 15px;
    }
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    a.active, a:hover { 
        background-color: #6D6F73;
        transition: .5s;
    }
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
        font-size: 25px;
    }
    .home-rental img {
        width: 80%;
        height:auto;
        margin-left: 20%;
    }
    .rental {
        margin-left: 5%;
    }

    .title {
        font-size: 25px;
    }
    h2.weather-head{
        font-size: 25px;
    }
/*tours page*/
.right-align-box {
    background-color: #6D6F73;
    padding: 20px;
}
.left-align-box {
    background-color: #D9C6BF;
    padding: 20px;
}
.attraction-best {
    background-color: #6D6F73;
    padding: 20px;
}
.attraction-lesson {
    background-color: #D9C6BF;
    padding: 20px;
}
}