html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: white
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.heading h1 {
    font-size: large;
}
header {
    text-align: center;
    color: black;
    background-color: rgb(255, 179, 68);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
nav {
    background: brown;
    height: 80px;
    max-width: 100%;
}
nav ul{
    float: center;
    margin-right: 30px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    padding: 17px;
}
a.active, a:hover { 
    background-color: rgb(88, 12, 12);
    transition: .5s;
}
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: san-serif;
    color: black;
    background-color: rgb(255, 248, 229);
    height: 100%;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    border-radius: 20px;
}
.contact {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
}
footer {
    text-align: center;
    background-color: rgb(255, 179, 68);
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 1em;
    bottom: 0;
}

